body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightsalmon;
  font-family: 'Bangers', cursive;
  margin: 0;
}

h1 {
  color: rgb(29, 141, 29);
  font-family: 'Chewy', cursive;
  text-shadow: 0.3rem 0.3rem black;
  margin: 0.2em 0 0 0;
}

header {
  font-size: 2.4rem;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: lightsalmon;
  background-color: rgb(3, 83, 3);
  margin: 0;
  padding: 1em 0;
  list-style-type: none;
  font-size: 1.5rem;
}

li {
  margin: 0 1em
}

.info {
  color: rgb(3, 83, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0.4em 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: rgb(3, 83, 3);
}