body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(2, 50, 2);
  background-color: lightsalmon;
  font-family: 'Bangers', cursive;
}

h1 {
  color: rgb(29, 141, 29);
  font-family: 'Chewy', cursive;
  text-shadow: 0.3rem 0.3rem black;
  margin: 0.2em 0 0 0;
}

header {
  font-size: 2.4rem;
}

footer {
  display: flex;
  width: 100%;
}

.rules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

li {
  margin: 0 1em
}