body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Chewy', cursive;
  text-shadow: 0.3rem 0.3rem black;
  color: rgb(29, 141, 29);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightsalmon;
}

h1 {
  margin: 0.2em 0 0 0;
}

header {
  font-size: 2.8rem;
}